<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/ghost.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>PEN-TEST</title>
</head>
<body>
    <p>
        <img src="{{ url_for('static', filename='images/ESCAPE YOUR FATE.png')}}" alt="Pen Test" class="img">
    </p>
<div class="tank">
    <h2>Welcome to the vast world of Cybersecurity where People Protect, serve and defend! Information From malicious actors, They are constantly evolving, and our mission is to stay one step ahead.</h2>
<hr>
<hr>
    <h2>In this YSWS You will build real world Cybersecurity Projects all the way from Pentration testing tools to Incident Response! Projects</h2>
<hr>
<hr>
    <h2>We will be covering a wide range of topics, including but not limited to:</h2>
    <hr>
    <hr>
    <ul>
        <li>Network Security</li>
        <li>Web Application Security</li>
        <li>Cryptography</li>
        <li>Malware Analysis</li>
        <li>Incident Response</li>
        <li>Penetration Testing</li>
        <li>OSINT Research</li>
        <li>Forensics Tools</li>
    </ul>
<hr>
<hr>
    <h2>You will also Learn about the most Common Tools used in Cybersecurity, including:</h2>
    <hr>
    <hr>
    <ul>
        <li>Wireshark</li>
        <li>Nmap</li>
        <li>Metasploit</li>
        <li>Burp Suite</li>
        <li>BeEF</li>
        <li>Hashcat</li>
        <li>Volatility</li>
        <li>Autopsy</li>
    </ul>
<hr>
<hr>
    <h2>By the end of this YSWS, you will have a solid understanding of the fundamentals of Cybersecurity and be able to apply your knowledge to real-world scenarios. You will also have a portfolio of projects that you can showcase to potential employers. who knows you might just change Your Career</h2>
<hr>
<hr>
     <h2>So, If your intreseted Then RVSP and HELPS us Reach a 150 Members to make this happen!</h2>
     <div class="container">
     <div class="Button">RVSP</div>
     </div>

</div>


<div class="tank">
    <h2 class="title">How This Works</h2>
    <div id="shadow"></div>
    <div class="tank2">
        <h2>Create a Cybersecurity Project</h2>
        <h2>Track Your Progress!</h2>
    </div>
    <div class="tank2">
        <h2>Submit Your Work</h2>
        <h2>Wait For Review!</h2>
    </div>
    <div class="tank2">
        <h2>Get FLAGS</h2>
        <h2>And Spend Those FLAGS on SHOP!</h2>
    </div>
</div>
</body>
</html>



